<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A Author</title>
</head>

<body>
    {{ author.name }}
    {% for book in author.books.all %}
        {% if book.review %}
        <div class="book">
            <h3>Book name: {{ book.title }}</h3>
            <p>
                {% if book.is_favourite %}
                    <p class="highlight">this book is my favourite</p>
                {% endif %}
                <p>Bookreview: {{ book.review|linebreaks }}</p>
            </p>
        </div>
        {% endif %}
    {% endfor %}
</body>

</html>